/* jednostki w CSS3 */

html {
    font-size: 20px;
}

#container {
    font-size: 30px;
}

#container>div {
    background-color: rgba(0, 255, 255, 0.6);
    margin-bottom: 15px;
}

#pixele {
    width:400px;
}

#em{
    width:20em;
}
#ex{
   width:10ex; 
}
#rem{
    width:5rem;
}
#procent{
    font-size:250%;
    width:20rem;
}
#vw{
    font-size:1.4vw;
    width:10rem;
}